<table class='table'>
  <tr>
    <th>User Email</th>
    <th>Total purchase count</th>
    <th>Last purchase</th>
  </tr>
  <tr>
    <td><%= @user.email%></td>
    <td><%= @user.orders.count%></td>
    <td><%= Date.today %></td>
    <td></td>
  </tr>
</table>
